.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.loginPage h1 {
    color: lightcoral;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
}

.loginPage input {
    margin: 8px;
    flex-flow: inherit;
}

.loginPage button {
    
}