.user-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dashboard-link {
    width: 8em;
    height: 8em;
    justify-self: center;
}

.dashboard-link img{
    height: 100px;
    width: 130px;
}